@model IEnumerable<tl2_proyecto_2024_Daggam.ViewModels.ListarTableroViewModel>
@{
    ViewData["Title"] = "Mis Tableros";
}
<h1>Mis Tableros</h1>
<h5>Crea, edita y borra tus tableros</h5>
<a asp-action="Crear" class="btn btn-primary">Crear Tablero</a>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var tablero in Model){
            <tr>
                <td>
                    @tablero.Nombre
                </td>
                <td>
                    @tablero.Descripcion
                </td>
                <td>
                    <div class="d-flex justify-content-evenly my-auto">
                    <a asp-action="Editar"asp-route-id="@tablero.Id" class="btn btn-primary">Editar</a>
                    <form method="post">
                        <button asp-action="Borrar" asp-route-id="@tablero.Id" onclick="return confirm('¿Esta seguro que desea eliminar este tablero?');" class="btn btn-danger">Borrar</button>
                    </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
