@model tl2_proyecto_2024_Daggam.ViewModels.CrearUsuarioViewModel

@{
    ViewData["Title"] = "Crear Usuario";
}

<div class="text-center">
    <h1 class="display-4">Crear Usuario</h1>
</div>
<form asp-action="Crear">
    <div class="mb-3">
        <label asp-for="NombreDeUsuario" class="form-label"></label>
        <input asp-for="NombreDeUsuario" class="form-control">
        <span asp-validation-for="NombreDeUsuario" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" class="form-control">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="RolUsuario" class="form-label"></label>
        <select asp-for="RolUsuario" asp-items="Html.GetEnumSelectList<RolUsuario>()" class="form-control"></select>
    </div>
    <button type="submit" class="btn btn-success">Crear</button>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
}
