@{
    ViewData["Title"] = "Página Principal";
}
<h1 class="bg-primary text-center text-light p-3">Tablero Kanban</h1>
<h5 class="text-center">Cree sus tableros Kanban de manera rápida, sencilla y robusta.</h3>

