@model tl2_proyecto_2024_Daggam.ViewModels.PaqueteListarViewModel
@{
    ViewData["Title"] = "Mis Tareas";
    var PaqueteJSON = Json.Serialize(Model);
}

<div class="text-center mt-4">
    <h1>Mis Tareas</h1>
    <hr>
    <h6>Aquí se mostraran los tableros que has creado o los cuales tienes tareas asignadas.</h6>
    @* Si (no)sos el usuario que creo este tablero, (no)podes crear una tarea *@
    @if(Model.EsPropietario){
        <a asp-action="Crear" asp-route-idTablero="@Context.GetRouteValue("id")" class="btn btn-success my-3"> <i class="bi bi-plus-lg"></i> Crear Tarea</a>
    }
</div>
<div class="container-fluid mt-4">
    @if(Model.Modelo.Count() == 0){
        <p class="text-muted text-center">No hay ninguna tarea...</p>
    }else{
        <div class="row">
            <div class="col">
                <h6 class="text-center mb-0 py-2 border border-dark rounded bg-dark text-light">Ideas</h6>
                <div class="reordenable">
                    @* <div class="card" style="border-color: red;">
                        <div class="card-body">
                            <h5 class="card-title">Titulo Tarea</h5>
                            <p class="card-text">Descripcion Tarea</p>
                        </div>
                    </div>
                    <div class="card" style="border-color: red;">
                        <div class="card-body">
                            <h5 class="card-title">Titulo Tarea</h5>
                            <p class="card-text">Descripcion Tarea</p>
                        </div>
                    </div>
                                        <div class="card" style="border-color: red;">
                        <div class="card-body">
                            <h5 class="card-title">Titulo Tarea</h5>
                            <p class="card-text">Descripcion Tarea</p>
                        </div>
                    </div> *@
                </div>
            </div>
            <div class="col">
                <h6 class="text-center py-2 border border-dark rounded bg-dark text-light">ToDo</h6>
                <div class="reordenable"></div>
            </div>
            <div class="col">
                <h6 class="text-center py-2 border border-dark rounded bg-dark text-light">Doing</h6>
                <div class="reordenable"></div>
            </div>
            <div class="col">
                <h6 class="text-center py-2 border border-dark rounded bg-dark text-light">Review</h6>
                <div class="reordenable"></div>
            </div>
            <div class="col">
                <h6 class="text-center py-2 border border-dark rounded bg-dark text-light">Done</h6>
                <div class="reordenable"></div>
            </div>
        </div>
    }
</div>

<div class="modal fade" id="BorrarTarea" tabindex="-1" aria-labelledby="BorrarTareaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="BorrarTareaLabel">Confirmar acción</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            ¿Está seguro que desea eliminar esta tarea?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <form method="post">
                <button id="ConfirmarBorrado"type="submit" class="btn btn-danger">Borrar</button>
            </form>
        </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        
        /*
        TODO: 
            - falta actualizar la bd cuando el cambio se efectue
            - ¿Quienes crean las tareas pueden moverlas? (Para mí, no)
            - 
        */
        $(()=>{
            const ruta = "@Url.Action("Borrar")/" 
            $("#BorrarTarea").on("show.bs.modal", (e)=>{
                const boton = e.relatedTarget
                const atributo = boton.getAttribute("data-bs-routeId")
            $("#ConfirmarBorrado").attr("formaction",ruta+atributo)
            })
            var paquete = @Html.Raw(PaqueteJSON)
            var cartas = paquete["modelo"];
            const urlAction = "@Url.Action("ActualizarEstado")"
            for(var i=0; i<cartas.length;i++){
            
                $(".col .reordenable").eq(cartas[i].estado-1).append(`
                <div class="card" style="border-color: ${cartas[i].color};">
                    <input type="hidden" name="id" value="${cartas[i].id}">
                    <div class="card-body">
                        <h5 class="card-title">${cartas[i].nombre}</h5>
                        <p class="card-text">${cartas[i].descripcion=="" ? "Sin descripción":cartas[i].descripcion}</p>
                        ${paquete["esPropietario"] ? `<button type="button" class="btn btn-danger d-block ms-auto" data-bs-toggle="modal" data-bs-target="#BorrarTarea" data-bs-routeId="${cartas[i].id}">Borrar</button>`:""}
                </div>
                `);
            }
            $(".reordenable").sortable({
                containment:".row",
                helper:"clone",
                cursor:"move",
                placeholder:"portlet-placeholder",
                connectWith:".reordenable",
                start: (e,ui) =>{
                    ui.placeholder.css("height",ui.item.css("height"))
                },
                receive: async (e,ui)=> {
                    const tarea = {
                        "id":ui.item.find("input").val(),
                        "estado":ui.item.parents(".col").index()+1
                    }
                    const data = JSON.stringify(tarea)
                    const res = await fetch(urlAction,{
                        method:"POST",
                        body: data,
                        headers:{
                            'Content-Type':'application/json'
                        }
                    }) 
                }
                    
                
            }).disableSelection().addClass("bg-dark mt-2 p-3 d-flex flex-column gap-3 rounded-3 border shadow");
            
            if(paquete["esPropietario"]){
                $(".reordenable").sortable("option","cancel",".card")
            }
        })
    </script>
}