html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  .navbar-brand.abs
    {
        position: absolute;
        width: auto;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

/* body {
  margin-bottom: 60px;
} */

.reordenable{
  min-height: 150px;
}

.portlet-placeholder {
  background: linear-gradient(135deg, #d4d4d4, #f8f8f8, #b8b8b8, #e0e0e0, #d4d4d4);
  background-size: 200% 200%; 
  animation: metalizado-efecto 3s linear infinite; 
  border: 2px solid #aaa; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
  width: 100%;
  background-color: #258cfb;
  border-radius: .3rem;
}
@keyframes metalizado-efecto {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}